<div class='userContainer'>
  <div class='userImageContainer'>
    <img class='userImage' src=<%= user.photo %> alt='userImage' />
  </div> 
  <div class='userInformationContainer'>
    <h1><%= user.name %></h1>
    <p>Number of posts: <%= user.post_counter %></p>
</div>
</div>