<% link = root_path %>
<%= render 'shared/navbar', link: link %>
<%= render partial: 'shared/user_info', locals: { user: @user } %>

<h2 class="pageTitle", style="margin-top: 3rem;">Meet People Like You </h1>

<% @users.each do |user| %>
  <%= render partial: 'shared/user_info', locals: { user: user } %>
<% end %>