<h1>Bienvenido a mi aplicación</h1>
<p>Regístrate o inicia sesión para comenzar:</p>
<ul>
  <li><%= link_to 'Registrarse', new_user_registration_path %></li>
  <li><%= link_to 'Iniciar Sesión', new_user_session_path %></li>
</ul>
