
<h1>List of posts</h1>
<%= render @user %>

<div class="indexPostContainer">
  <%= render partial: 'shared/post', collection: @posts%>
  <div class="commentsContainer">
    <% @posts.each do | post |%>
     <%= render partial: 'comment', collection: post.recent_comments %>
    <% end %>
  </div>
</div>
