
<h1 class='pageTitle'>List of posts by <%= @user.name %> </h1>
<%= render @user %>

<div class="indexPostContainer">
  <%= render partial: 'shared/post', collection: @posts%>
  <div class="indexCommentsContainer">
    <% @posts.each do | post |%>
     <%= render partial: 'comment', collection: post.recent_comments %>
    <% end %>
  </div>
</div>

<button class="button">Pagination</button>
