
<h1 class='pageTitle'>List of posts by <%= @user.name %> </h1>
<%= render @user %>

<div class="indexPostContainer">
    <% @posts.each do | post |%>
     <%= render partial: 'shared/post', object: post%>
     <div class='commentsContainer'>
       <%= render partial: 'comment', collection: post.recent_comments %>
     </div>
    <% end %>
</div>

<button class="button">Pagination</button>
