<% link = root_path %>
<%= render 'shared/navbar', link: link %>

<h1 class='pageTitle'>All Community Posts</h1>
<%= render partial: 'shared/user_info', locals: { user: current_user } %>

<div class="indexPostContainer">
    <% @posts.each do | post |%>
     <%= render partial: 'shared/post', object: post%>
     <div class='commentsContainer'>
       <%= render partial: 'comment', collection: post.recent_comments %>
     </div>
    <% end %>
</div>

<button class="button">Pagination</button>
